{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LuaNovel{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'manga/css/style.css' %}">
</head>
<body>
    <header class="top-bar">
        <a href="/" class="logo">
            <img src="{% static 'manga/icons/moon-stars-svgrepo-com.svg' %}" alt="Logo" class="lua-icon">
            <span class="logo-text">Luanovel</span>
        </a>

        <div class="search-container">
            <form action="/parser/search/" method="get">
                <input type="text" name="q" placeholder="Поиск манги..." class="search-input" value="{{ query }}">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </div>

        <div class="top-bar-actions">
            {% if user.is_authenticated %}
                <a href="#" class="icon-button">🔖</a>
                <a href="#" class="icon-button">👤</a>
            {% else %}
                <a href="#" class="login-button">Вход</a>
            {% endif %}
        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'manga/js/main.js' %}"></script>
</body>
</html>