{% extends 'manga/base.html' %}

{% block content %}
<div class="home-container">
    <h3 style="margin-bottom: 25px;">Недавно просмотренные</h3>
    <div class="manga-grid">
        {% for manga in mangas %}
        <a href="/manga/{{ manga.slug }}/" class="manga-card">
            <div class="manga-cover-wrapper">
                <img src="{{ manga.cover_url }}" alt="{{ manga.title }}" class="manga-cover">
            </div>
            <h3 class="manga-title">{{ manga.title }}</h3>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}