{% extends 'manga/base.html' %}

{% block content %}
<div class="search-results-container">
    {% if query %}
        <h2 style="margin-bottom: 30px;">Результаты: «{{ query }}»</h2>
        {% for source_data in search_results %}
        <section class="source-block">
            <div class="source-header">
                <span class="source-name">{{ source_data.source_name }}</span>
                <span style="color: var(--text-muted)">{{ source_data.mangas|length }} тайтлов</span>
            </div>

            <div class="horizontal-scroll">
                {% for manga in source_data.mangas %}
                <a href="/manga/{{ manga.slug }}/" class="manga-card">
                    <div class="manga-cover-wrapper">
                        <img src="{{ manga.cover_url }}" alt="{{ manga.title }}" class="manga-cover" loading="lazy">
                    </div>
                    <h3 class="manga-title">{{ manga.title }}</h3>
                </a>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    {% else %}
        <div style="text-align: center; padding: 100px;">
            <h2>Введите название для поиска</h2>
        </div>
    {% endif %}
</div>
{% endblock %}